* {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1512px;
    font-family: Montserrat;
}

html  {
    font-size: 10px;
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: #00050B;
}

.header-wrapper {
    background: url(image/25197123\ 1.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh; 
}

.header-inner {
    max-width: 1212px;   
    display: flex;
    flex-direction: column;
}

.header-title {
    margin-left: 0;
    padding-top: 30vh;
    animation: show 2s; 
    
}

@keyframes show {

    from {opacity: 0;} to {opacity: 1;}
}

.header-title h1 {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 83px;
    letter-spacing: 0.045em;
}

.header-title p {
    color: #fff;
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.65em;
}

.header-text {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
    padding-top: 25vh;
    margin-left: 0; 
    
    animation: show 4s;
}

.video {
    height: 700px;
}

.video__frame {
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    
}

.travel {
    background: url(image/image\ 19.jpg) no-repeat center center;
    width: 100%;
    height: 982px;
}

.travel__inner {
    max-width: 1212px;
}

.travel-title {
    color: #fff;
    padding-top: 8rem;
}

.travel-title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 135.4%;
    text-transform: uppercase;
}

.travel__content {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135.4%;
    color: #fff;

    height: 600px;

    display: flex;
    flex-direction: column;

    margin: 10rem 0 0 0;
}

.travel__content2 {
    transform: translateX(-25rem);
}

.travel__content3 {
    transform: translateY(10rem);
}

.travel__content4 {
    transform: translateX(-45rem) translateY(10rem);
    
}

.travel__content1 {
    transform: translateX(25rem);
}

.text {
    height: 283px;
    text-align: center;
    padding-top: 12rem;
}

.text span {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 135.4%;
    letter-spacing: 0.075em;
    color: #fff;
}

.for-trip {
    height: 890px;
}

.blur {
    position: absolute;
    width: 49rem;
    height: 55rem;
    left: 5%;
    top: 215rem;

    background: rgba(82, 148, 185, 0.68);
    filter: blur(313px);
}

.for-trip__wrapper {
    max-width: 1212px;
    display: flex;
    justify-content: space-between;
}

.for-trip__image {
    width: 43rem;
    height: 82rem;
}

.for-trip__title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 135.4%;
    color: #fff;
    text-transform: uppercase;
    max-width: 1212px;
    text-align: end;
}

.for-trip__list-content {
    list-style-type: none;
    margin-top: 14rem;
}

.for-trip__content {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.29em;
    display: flex;
    align-items: center;

    color: #fff;

    margin-top: 7rem;
    
}

.for-trip__content span {
    margin-left: 3rem;
}

.line {
    width: 147.32px;
    height: 1px;
    background-color: #fff;
    margin: 0;
}

.wait-trip {
    width: 100%;
    height: 982px;
    background: url(image/Frame\ 5\ 1.png) no-repeat center bottom;
}

.wait-trip__inner {
    max-width: 1212px;
}

.wait-trip__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 135.4%;
    text-transform: uppercase;
    color: #fff;
    margin-left: 0;
    margin-top: 8rem;

}

.wait-trip__subtitle {
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.33em;
    color: #fff;
}

.circle-text {
    margin-top: 8rem;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
    border: #fff 0.5px solid;
    border-radius: 50%;

    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 135.4%;
    color: #fff;
   
    display: flex;
    align-items: center;
    
}

.circle-block1 {
    display: flex;
    justify-content: space-between;
}

.circle-block2 {
    display: flex;
    justify-content: center;
    
}

.circle1 {
    width: 25rem;
    height: 25rem;
    padding: 1rem;
}

.circle2 {
    width: 23rem;
    height: 23rem;
    margin: 0;
    padding: 1rem;
}

.circle3 {
    width: 20.8rem;
    height: 20.8rem;
    transform: translateY(3rem);
    padding: 1rem 1rem 1rem 3rem;
}

.circle4 {
    width: 20rem;
    height: 20rem;
    margin: 0rem;
    transform: translateX(14rem);
    padding: 1rem;
}

.circle5 {
    width: 15.6rem;
    height: 15.6rem;
    transform: translateY(7rem);
    padding: 1rem;
}

.circle6 {
    width: 15.4rem;
    height: 15.4rem;
    margin: 0 0 0 15rem;
    transform: translateX(8rem);
    padding: 1rem;
}

.circle7 {
    width: 13.8rem;
    height: 13.8rem;
    transform: translateY(10rem);
}

.get-trip {
    background: url(image/image\ 12.png) no-repeat center center;
    width: 100%;
    height: 675px;
    margin: 0 auto;
    
}

.get-trip__wrapper {
    max-width: 1212px;
}

.get-trip__title {
    text-align: end;
    color: #fff; 
    padding-top: 8rem;
}

.get-trip__title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 135.4%;
    text-transform: uppercase;
}

.get-trip__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.get-trip__content1, .get-trip__content2, .get-trip__content3, .get-trip__content4, .get-trip__content5  {
    background: rgba(0, 5, 11, 0.76);
    backdrop-filter: blur(4px);
    border-radius: 24px;
    padding: 3rem 3rem;
    margin-top: 9rem;
    display: flex;
    align-items: center;
}

.get-trip__content1 span, .get-trip__content2 span, .get-trip__content3 span, .get-trip__content4 span, .get-trip__content5 span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 135.4%;
    color: #fff;
}

footer {
    background: url(image/image\ 14.jpg) no-repeat center center;
    width: 100%;
    height: 740px;
    margin: 0 auto;
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-top: 16rem;
}    

.footer-title h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 135.4%;
    color:#fff;
    text-transform: uppercase;
}

.link-telegram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;    
}

.inner-link {
    width: 80rem;
    height: 14rem;
    background: #FFFFFF;
    /* box-shadow: 4px 4px 50px 7px rgba(255, 255, 255, 0.67); */
    border-radius: 24px;
    text-align: center;
    padding-top: 2rem;
    cursor: pointer;
}

.inner-link:hover {
    box-shadow: 4px 4px 50px 7px rgba(255, 255, 255, 0.67);
}

a span {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 191.4%;
    letter-spacing: 0.11em;
    color: #000;
}

a span strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    width: 80rem;
    height: 14rem;
}

.image-telegram {
   width: 8rem;
   height: 8rem;
   margin-top: 8rem;
}


@media (min-height: 983px) {
    .header-wrapper {
        height: 982px;
    }
    .header-title {
        padding-top: 30rem;
    }
    .header-text {
        padding-top: 30rem;
    }
}

@media (max-width: 1027px) {
    .get-trip__content1 span, .get-trip__content2 span, .get-trip__content3 span, .get-trip__content4 span, .get-trip__content5 span {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .circle6 {
        transform: translateX(-10rem);
    }

    .circle4 {
        transform: translateX(3rem);
    }
}

@media (max-width: 780px) {
    .circle7 {
        display: none;
    }
    .travel__content {
        
        font-size: 18px;
    }
}

@media (max-width: 780px) {
     .circle1 {
        width: 20rem;
        height: 20rem;
    }
    
    .circle2 {
        width: 20rem;
        height: 20rem;
        transform: translateY(2rem);
    }
    
    .circle3 {
        width: 18rem;
        height: 18rem;
    }
    
    .circle4 {
        width: 16rem;
        height: 16rem;
        transform: translateY(1rem);
    }
    
    .circle5 {
        width: 15rem;
        height: 15rem;
    }
    
    .circle6 {
        width: 13rem;
        height: 13rem;
    }
}

@media (max-width: 426px) {
    .header-wrapper { 
        height: 568px;
        background: url(image/25197123\ 1\ 1.jpg) no-repeat center center;
        background-size: cover;
    }

    .header-title {
        padding-top: 19rem;   
    }

    .header-title h1 {
        font-size: 23px;
        height: 6rem;
        width: 12rem;
        line-height: 30px;
        margin: 0;
    }

    .header-title p {
        font-size: 10px;
        line-height: 13px;
    }

    .header-inner {
        max-width: 350px;
    }

    .header-text {
        font-size: 15px;
        padding-top: 20rem;
        line-height: 135.4%;
    }

    .travel {
        background: url(image/iPhone_SE_-_9.png) no-repeat center center;
        background-size: cover;
        height: 568px;
    }

    .travel__inner {
        max-width: 350px;
    }

    .travel-title {
        padding-top: 4rem;
    }

    .travel-title h2 {
        font-size: 18px;
    }

    .travel__content {
        font-size: 10px;
        margin: 4rem 0 0 0;
    }

    .travel__content2 {
        transform: translateX(-9rem);
    }
    
    .travel__content3 {
        transform: translateX(1rem) translateY(5rem);
    }
    
    .travel__content4 {
        transform: translateX(-13rem) translateY(9rem);
    }
    
    .travel__content1 {
        transform: translateX(7rem);
    }

    .travel {
        height: 568px;
    }

    .travel__inner {
        max-width: 350px;
    }

    .text span {
        font-size: 10px;
    }

    .text {
        height: 150px;
        text-align: center;
        padding-top: 15%;
    }

    .for-trip {
        height: 556px;
    }

    .for-trip__title {
        font-size: 13px;
        text-align: center;
    }

    .for-trip__wrapper {
        max-width: 350px;
        flex-direction: column;
    }

    .for-trip__image {
        width: 12rem;
        height: 24rem;
        margin-top: 3rem;
    }

    .blur {
        width: 14rem;
        height: 16rem;
        left: 30vw;
        top: 135rem;

        background: rgba(82, 148, 185, 0.68);
        filter: blur(91.5449px);     
    }

    .for-trip__content {
        font-size: 12px;
    }

    .for-trip__content span {
        margin-left: 1.5rem;
    }

    .for-trip__list-content {
        margin: 3rem 0 0 0;
        padding-left: 0;
        
    }

    .for-trip__text {
        margin: 0;
    }

    .line {
        width: 7rem;
        height: 1px;
        background-color: #fff;
        margin: 0;
    }

    .for-trip__content {
        margin-top: 1.5rem;
    }

    .wait-trip {
        width: 100%;
        height: 568px;
        background: url(image/iPhone_SE_-_10.png) no-repeat center bottom;
        background-size: cover;
    }

    .wait-trip__inner {
        max-width: 350px;
    }

    .wait-trip__title {
        font-size: 16px;
        text-align: start;
        padding-top: 6rem;
    }

    .wait-trip__subtitle {
        font-size: 10px;
        text-align: start;
    }

    .circle-text {
        margin-top: 3rem;
    }

    .circle1 {
        width: 12rem;
        height: 12rem;

    }
    
    .circle2 {
        width: 9.7rem;
        height: 9.7rem;
        transform: translateY(1rem) translateX(3rem);
        padding-left: 2rem;
    }
    
    .circle3 {
        width: 11rem;
        height: 11rem;
       padding: 1rem;
       transform: translateY(2rem) translateX(0rem);
       text-align: center;
    }
    
    .circle4 {
        width: 10rem;
        height: 10rem;
        transform: translateY(2rem) translateX(6rem);
    }
    
    .circle5 {
        width: 7rem;
        height: 7rem;
        transform: translateY(25rem) translateX(-3rem);
        padding-left: .5rem;
    }
    
    .circle6 {
        width: 8rem;
        height: 8rem;
        margin-left: 0;
        transform: translateY(11rem) translateX(-10rem);
    }
    
    .circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
        font-size: 7.5px;
    }

    .get-trip {
        background: url(image/iPhone_SE_-_11.png) no-repeat center center;
        background-size: cover;
        height: 393px;
        
    }

    .get-trip__wrapper {
        max-width: 350px;
    }

    .get-trip__title {
        width: 19rem;
        padding-top: 2rem;
        margin-left: 0;
    }

    .get-trip__title h2{
        font-size: 16px;
        text-align: start;
    }

    .get-trip__content1 span, .get-trip__content2 span, .get-trip__content3 span, .get-trip__content4 span, .get-trip__content5 span {
        font-size: 11px;
    }

    .get-trip__content1, .get-trip__content2, .get-trip__content3, .get-trip__content4, .get-trip__content5 {
        background: rgba(0, 5, 11, 0.76);
        backdrop-filter: blur(1.60777px);
        border-radius: 9.6466px;
        padding: 1.5rem 1.5rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        width: 16rem;
    }

    .get-trip__content2 {
        transform: translateY(2rem);
    }

    .get-trip__content3 {
        transform: translateY(6rem);
    }

    .get-trip__content4 {
        transform: translateY(8rem);
    }

    .get-trip__content5 {
        transform: translateY(-12.5rem);
    }

    footer {
        background: url(image/mobile14.png) no-repeat center center;
        width: 100%;
        height: 218px;
        background-size: cover;
        margin: 0 auto;
    }

    .footer-title {
        padding-top: 4rem;
    }

    .link-telegram {
        margin-top: 2rem;
    }

    .footer-title h2 {
        font-size: 16px;
    }

    a span {
        font-size: 9px;   
    }

    .inner-link {
        width: 28rem;
        height: 5rem;
        box-shadow: 1.40511px 1.40511px 17.5639px 2.45895px rgba(255, 255, 255, 0.67);
        border-radius: 8.43068px;
        padding-top: 1rem;
    }

    .image-telegram {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
     }
}

@media (max-width: 351px) {
    .header-inner {
        max-width: 300px;
    }
    .header-title p {
        font-size: 8px;
        line-height: 10px;
    }

    .header-text {
        padding-top: 20rem;
    }

    .header-text p{
        font-size: 15px;
        line-height: 135.4%;
    }

    .travel {
        background: url(image/image\ 20.png) no-repeat center center;
        background-size: cover;
    }
    .travel__inner {
        max-width: 300px;
    }

    .travel__content2 {
        transform: translateX(-7rem);
    }
    
    .travel__content3 {
        transform: translateX(1rem) translateY(5rem);
    }
    
    .travel__content4 {
        transform: translateX(-10.5rem) translateY(9rem);
    }
    
    .travel__content1 {
        transform: translateX(7rem);
    }

    .for-trip__wrapper {
        max-width: 300px;
    }

    .line {
        width: 5rem;
    }

    .for-trip {
        max-width: 300px;
    }

    .for-trip__title {
        font-size: 10px;
        text-align: start;
    }

    .wait-trip {
        width: 100%;
        height: 568px;
        background: url(image/mobile5.png) no-repeat center bottom;
        background-size: cover;
    }


    .wait-trip__inner {
        max-width: 300px;
    }
    
    .wait-trip__title h4{
        font-size: 15px;
    }
    .wait-trip__subtitle {
        font-size: 8px;
    }

    .circle2 {
        transform: translateY(1rem) translateX(4rem);
    }
    
    .circle3 {
       transform: translateY(2rem) translateX(1.5rem);
    }

    .get-trip {
        background: url(image/mobile12.png) no-repeat center center;
        background-size: cover;   
    }
    
    .get-trip__wrapper {
        max-width: 300px;
    }

    .get-trip__content1 span, .get-trip__content2 span, .get-trip__content3 span, .get-trip__content4 span, .get-trip__content5 span {
        font-size: 10px;
    }

    .get-trip__content1, .get-trip__content2, .get-trip__content3, .get-trip__content4, .get-trip__content5 {
        background: rgba(0, 5, 11, 0.76);
        backdrop-filter: blur(1.60777px);
        border-radius: 9.6466px;
        padding: 1rem 1rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        width: 14rem;
    }

    .get-trip__content2 {
        transform: translateY(2rem);
    }

    .get-trip__content3 {
        transform: translateY(8rem);
    }

    .get-trip__content4 {
        transform: translateY(11rem);
    }

    .get-trip__content5 {
        transform: translateY(-10rem);
    }
    
    .for-trip__content {
        font-size: 10px;
    }

    text {
        font-size: 8px;
    }
}    